* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: rgb(29, 121, 227);
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.header ul li {
    padding: 0 2rem;
    cursor: pointer;
}